/* CoffeeLoader.css */
.coffee-loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
}

.mug {
    width: 60px;
    height: 50px;
    background: #fff;
    border-radius: 0 0 30px 30px;
    position: relative;
    border: 4px solid #ddd;
    overflow: hidden;
    /* Hide fill animation until higher */
}

/* Better Handle */
.mug::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -22px;
    width: 25px;
    height: 35px;
    border: 5px solid #ddd;
    border-radius: 50%;
    /* Rounded ear shape */
    z-index: -1;
    /* Behind mug */
}

/* More Realistic Drip */
.drip {
    width: 3px;
    height: 100px;
    /* Long continuous stream */
    background: #6F4E37;
    position: absolute;
    top: -40px;
    opacity: 0.8;
}

/* Ripple on surface */
.ripple {
    position: absolute;
    bottom: 10%;
    /* Sit on top of rising liquid approx */
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 5px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    animation: ripple-anim 0.8s infinite linear;
}

@keyframes ripple-anim {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        bottom: 10%;
    }

    100% {
        width: 40px;
        height: 10px;
        opacity: 0;
        bottom: 10%;
    }
}

.steam {
    position: absolute;
    top: -20px;
    width: 10px;
    height: 20px;
    background: #afafaf;
    border-radius: 50%;
    filter: blur(4px);
    opacity: 0;
    animation: steam-rise 2s infinite;
}

.steam:nth-child(1) {
    left: 10px;
    animation-delay: 0s;
}

.steam:nth-child(2) {
    left: 30px;
    animation-delay: 0.5s;
}

.steam:nth-child(3) {
    left: 50px;
    animation-delay: 1s;
}


/* Finish State */
.coffee-loader-container.finished .coffee-liquid {
    height: 90%;
    animation: none;
}

.coffee-loader-container.finished .drip {
    display: none;
}

.coffee-loader-container.finished .mug {
    /* Scale up slightly */
    transform: scale(1.1);
    transition: transform 0.5s;
}

@keyframes steam-rise {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(-30px) scale(2);
        opacity: 0;
    }
}